# RewriteEngine On
# RewriteBase /archtype/

# Pass category to portfolio.php located in the view folder
# RewriteRule ^portfolio/(architectural-project|upcoming-projects|interior|awards)/?$ view/portfolio.php?category=$1 [L]

# Rewrite other URLs to their respective PHP files in the view folder
# RewriteRule ^about$ view/about.php [L]
# RewriteRule ^contact$ view/contact.php [L]
# Above is the old .htaccess file

RewriteEngine On
RewriteBase /archtype/

# Pass category and subcategory to portfolio.php located in the view folder
RewriteRule ^portfolio/(architecture|upcoming-projects|interior)/([^/]+)/?$ view/portfolio.php?category=$1&subcategory=$2 [L]
# Pass category to portfolio.php located in the view folder (for category only)
RewriteRule ^portfolio/(architecture|upcoming-projects|interior)/?$ view/portfolio.php?category=$1 [L]
# Pass category, subcategory, and post to post-details.php located in the view folder
RewriteRule ^portfolio/(architecture|upcoming-projects|interior)/([^/]+)/([^/]+)/?$ view/post-details.php?category=$1&subcategory=$2&post=$3 [L]

# Rewrite rules for About and Contact pages
RewriteRule ^about$ view/pages/about.php [L]
RewriteRule ^contact$ view/pages/contact.php [L]

RewriteRule ^about/awards$ view/pages/about.php?page=awards [L]
RewriteRule ^about/services$ view/pages/about.php?page=services [L]
RewriteRule ^about/news$ view/pages/about.php?page=news [L]

# Remember to remove it after
# RewriteRule ^portfolio/(architectural-project|upcoming-projects|interior|awards)/([^/]+)/([^/]+)/?$ view/portfolio.php?category=$1&subcategory=$2&post=$3 [L]